node_modules
dist
coverage

.env
.env.local

k8s/02-secret.yaml
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform/
infra/kubeconfig*

*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea
